
@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: ArcadePix;
  src: url(./fonts/arcadepix.ttf);
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  /*background: rgb(8,8,40);*/
  background: #000;
  display: flex;
  justify-content: center;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}
canvas {
  object-fit: contain;
  height: 100%;
  background: #111;
  cursor: crosshair;
}
#debug {
  display: none;
  color: white;
  white-space: pre;
  font-family: monospace;
}
#loading {
  text-align:center;
}
#loading img {
  width: 50%;
}
#loading .spinner {
  width: 10vw;
  height: 10vw;
  animation-duration: 10s;
}
#loading .progress {
  font-family: Roboto, sans-serif;
  text-align: center;
  color: white;
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.spinner {
  animation: 3s linear infinite spin;
  width: 16px;
  height: 16px;
  background: url(./ui/spinner.svg);
  background-size: 100% 100%;
  display: inline-block;
  vertical-align: middle;
}
@media (max-aspect-ratio: 2/3) {
  body { flex-direction: column }
  canvas { width: 100%; height: auto; }
}
@media (min-aspect-ratio: 2/3) {
  body { flex-direction: column }
  canvas { width: 100%; }
}
h1, h2, h3, h4, h5 {
  font-family: Roboto;
  font-weight: bold;
}
.menu-overlay {
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: start;
}
.dialog {
  user-select: auto;
  -webkit-user-select: auto;
  font-family: Roboto;
  border-radius: 16px;
  padding: 16px;
  background-color: #886d3a;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.75);
  color: #f5f0e7;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
  display: inline-block;
  text-align: center;
}
.dialog a {
  color: #e5a1c3;
}
.menu-options {
  position: relative;
  margin-top: 8px;
  z-index: 21;
}
.menu-options {
  font-size: 24px;
}
.menu-table label {
  display: block;
  text-align: right;
}
.credits {
  position: absolute;
  margin: 8px 64px;
  z-index: 25;
}
.dialog-scroll {
  font-family: sans-serif;
  overflow: auto;
  height: calc(100% - 60px);
}

.dialog.hidden {
  display: none;
}
.dialog header {
  margin: -16px -16px 16px;
  padding: 16px 16px 8px;
  background-color: #b89a69;
  border-radius: 16px 16px 0 0;
}
.dialog header span {
  display: inline-block;
  position: relative;
  font-size: 36px;
  margin-right: 16px;
}
.dialog .form-button {
  border-radius: 8px;
  padding: 6px 10px 4px;
  font-family: Roboto;
  background-color: #881;
  color: #f5f0e7;
  font-size: 24px;
  border: 0;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.75);
}
.dialog > button {
  border: 0;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: Roboto;
  padding: 8px 8px 4px;
  font-size: 12pt;
  color: #f5f0e7;
  cursor: pointer;
  text-shadow: 1px 1px 0 black;
  transition: background-color 0.2s ease;
}
.dialog > button:hover, .dialog > button:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.menu-table {
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px 16px;
  margin: 16px;
}
.close-button {
  padding: 0;
  border: 0;
  float: right;
  margin: 2px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  color: #886d3a;
  border-radius: 4px;
  background: #f5f0e7 url(./ui/close.svg) no-repeat 4px 4px;
  background-size: 14px;
}
.close-button:hover {
  background-color: #fdf8f3;
}
.close-button:active {
  background-color: #f5e8d2;
}
.canvas-container {
  position: relative;
}
.button-options {
  background: url(./ui/cog.svg) no-repeat 4px 4px;
  background-size: 24px;
}

.toolbar {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  background: rgba(64, 64, 64, 0.25);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 8px;
  user-select: none;
  z-index: 10;
  position: absolute;
  padding: 0;
  margin: 0;
  transition: width 0.15s ease;
}
.toolbar button {
  vertical-align: bottom;
  cursor: pointer;
  padding: 10px;
  border: 0;
  background: transparent;
}

.toolbar button img {
  display: block;
  width: 24px;
  height: 24px;
  transition: opacity 0.1s ease-in-out;
  opacity: 0.7;
}
.toolbar button:disabled {
  cursor: default;
}
.toolbar button:disabled img {
  opacity: 0.1;
}

.toolbar button:not(:disabled):hover img, .toolbar button:not(:disabled):focus img {
  opacity: 1;
}

